{% load static %}
<link rel="stylesheet" href="{% static 'styles/components/about_section.css' %}">
<section class="about-section" id="about-section">
    <div class="container">
        <div class="about-content" data-aos="fade-up">
            <h2 class="section-title">Notre <span class="highlight">Agence</span></h2>
            <p class="about-description">
                Basée à Montpellier, notre agence est spécialisée dans la création de solutions digitales innovantes. Nous aidons les entreprises à transformer leurs idées en réalité grâce à notre expertise en développement web, référencement, marketing et applications mobiles. Fondée en 2010, notre agence a pour mission de fournir des services de haute qualité qui répondent aux besoins spécifiques de chaque client. Nous croyons en une approche personnalisée, où chaque projet est unique et mérite une attention particulière. Contactez-nous dès aujourd'hui pour discuter de votre projet et découvrir comment nous pouvons vous aider à réussir dans le monde numérique.
            </p>
            <a href="#contact" class="btn btn-primary about-cta">Nous contacter</a>
        </div>
        <div class="about-image-container">
            <img src="{% static 'images/about_illustration.png' %}" alt="About Illustration" class="about-image" data-aos="zoom-in">
        </div>
    </div>
</section>