{% load static %}
<link rel="stylesheet" href="{% static 'styles/components/footer_section.css' %}">
<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <div class="footer-links">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="#about-section">À propos</a></li>
                    <li><a href="#services-section">Services</a></li>
                    <li><a href="#contact-section">Contact</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h4>Contact</h4>
                <p>Montpellier, France</p>
                <p>Email: contact@qlb.com</p>
            </div>
            <div class="footer-social">
                <h4>Suivez-nous</h4>
                <ul>
                    <li><a href="#"><img src="{% static 'icons/twitter.svg' %}" alt="Twitter"></a></li>
                    <li><a href="#"><img src="{% static 'icons/linkedin.svg' %}" alt="LinkedIn"></a></li>
                </ul>
            </div>
            <div class="footer-legal">
                <h4>Légal</h4>
                <ul>
                    <li><a href="{% url 'privacy_policy' %}">Politique de confidentialité</a></li>
                    <li><a href="{% url 'terms_and_conditions' %}">Termes et conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 qlb. Tous droits réservés.</p>
        </div>
    </div>
</footer>
