body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.legals {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legals a, p, li, ul{
    text-align: justify;
}

h1 {
    font-size: 2.5rem;
    color: #db4a2b;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    color: #343a40;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #db4a2b;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #b03a23;
}

.back-to-home {
    text-align: center;
    margin-top: 30px;
}

.back-to-home a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #db4a2b;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-to-home a:hover {
    background-color: #b03a23;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .legals {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    ul {
        margin-left: 15px;
    }
}
