.contact-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url('/static/images/ccchaos.svg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #db4a2b;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #b03a23;
    transform: translateY(-2px);
}

.highlight {
    color: #db4a2b;
}

@media (max-width: 768px) {
    .contact-section {
        padding: 30px 10px;
        background-size: 100%;
    }

    .section-title {
        font-size: 2rem;
    }

    .section-description {
        font-size: 1rem;
    }

    .form-group input,
    .form-group textarea {
        font-size: 0.9rem;
    }

    .btn-primary {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}
