.navbar {
    transition: all 0.5s ease;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.navbar.fixed-top {
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 1000;
    width: 60%;
}

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #db4a2b;
}

.btn-primary {
    background-color: #db4a2b;
    border-color: #db4a2b;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #b03a23;
    border-color: #b03a23;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        text-align: center;
    }
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 767.98px) {
    .navbar.fixed-top {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

.navbar-toggler,
.navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("/static/icons/burger.svg");
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(0deg);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    transform: rotate(90deg);
}