{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions Générales d'Utilisation</title>
    <link rel="stylesheet" href="{% static 'styles/legals.css' %}">
</head>
<body>
    <div class="legals">
        <h1>Conditions Générales d'Utilisation</h1>
        <p>Bienvenue sur notre page de Conditions Générales d'Utilisation. Veuillez lire attentivement ces conditions avant d'utiliser notre site web.</p>
        <h2>1. Introduction</h2>
        <p>Ces conditions générales régissent votre utilisation de ce site web ; en utilisant ce site web, vous acceptez ces conditions générales dans leur intégralité. Si vous n'êtes pas d'accord avec ces conditions générales ou une partie de ces conditions générales, vous ne devez pas utiliser ce site web.</p>
        <h2>2. Licence d'Utilisation du Site Web</h2>
        <p>Sauf indication contraire, "qlb." et/ou ses concédants de licence possèdent les droits de propriété intellectuelle publiés sur ce site web et les matériaux utilisés sur "qlb.". Sous réserve de la licence ci-dessous, tous ces droits de propriété intellectuelle sont réservés.</p>
        <h2>3. Utilisation Acceptable</h2>
        <p>Vous ne devez pas utiliser ce site web de quelque manière que ce soit qui cause, ou pourrait causer, des dommages au site web ou une altération de la disponibilité ou de l'accessibilité du site web. Vous ne devez pas utiliser ce site web de quelque manière que ce soit qui soit illégale, frauduleuse ou nuisible, ou en relation avec un but ou une activité illégale, frauduleuse ou nuisible.</p>
        <h2>4. Accès Restreint</h2>
        <p>L'accès à certaines zones de ce site web est restreint. "qlb." se réserve le droit de restreindre l'accès à d'autres zones de ce site web, ou à l'ensemble de ce site web, à la discrétion de "qlb.". Si "qlb." vous fournit un identifiant utilisateur et un mot de passe pour vous permettre d'accéder à des zones restreintes de ce site web ou à d'autres contenus ou services, vous devez vous assurer que l'identifiant utilisateur et le mot de passe sont gardés confidentiels.</p>
        <h2>5. Soumission d'Informations</h2>
        <p>Les informations que vous soumettez via ce site web, y compris les informations de projet et les informations de contact, doivent être exactes et complètes. Vous ne devez pas soumettre de contenu utilisateur qui est ou a déjà été l'objet de procédures judiciaires menacées ou réelles ou d'autres plaintes similaires.</p>
        <h2>6. Aucune Garantie</h2>
        <p>Ce site web est fourni "tel quel" sans aucune représentation ou garantie, expresse ou implicite. "qlb." ne fait aucune représentation ou garantie concernant ce site web ou les informations et matériels fournis sur ce site web.</p>
        <h2>7. Limitations de Responsabilité</h2>
        <p>"qlb." ne sera pas responsable envers vous (que ce soit en vertu de la loi du contrat, de la loi des délits ou autrement) en relation avec le contenu de, ou l'utilisation de, ou autrement en connexion avec, ce site web :</p>
        <ul>
            <li>pour toute perte indirecte, spéciale ou consécutive ; ou</li>
            <li>pour toute perte d'affaires, perte de revenus, revenus, profits ou économies anticipés, perte de contrats ou de relations commerciales, perte de réputation ou de bonne volonté, ou perte ou corruption d'informations ou de données.</li>
        </ul>
        <h2>8. Indemnité</h2>
        <p>Vous indemnisez par la présente "qlb." et vous vous engagez à tenir "qlb." indemne de toute perte, dommage, coût, responsabilité et dépense (y compris, sans limitation, les frais juridiques et toute somme payée par "qlb." à un tiers en règlement d'une réclamation ou d'un litige sur les conseils de nos conseillers juridiques) encourus ou subis par "qlb." résultant de toute violation par vous de toute disposition de ces conditions générales.</p>
        <h2>9. Modifications</h2>
        <p>"qlb." peut réviser ces conditions générales de temps à autre. Les conditions générales révisées s'appliqueront à l'utilisation de ce site web à partir de la date de publication des conditions générales révisées sur ce site web.</p>
        <h2>10. Droit et Juridiction</h2>
        <p>Ces conditions générales seront régies et interprétées conformément au droit français, et tout litige relatif à ces conditions générales sera soumis à la juridiction exclusive des tribunaux de France.</p>
        <div class="back-to-home">
            <a href="/">Retour à l'accueil</a>
        </div>
    </div>
    {% include 'components/footer_section.html' %}
</body>
</html>
